In [1]:
import pandas as pd

In [ ]:
# Method to import data from a csv file
# The data is stored in a pandas DataFrame
path_to_file = "/Users/qxzjy/vscworkspace/dse-ft-100/python_course/python_pandas_training/data"
data = pd.read_csv(path_to_file + "/covid-19.csv")
data.head()

,Unnamed: 0,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,1257,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,1258,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,1259,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,1260,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,1261,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe

In [ ]:
# Describes basic statistical values for number_type column
data.describe()

,Unnamed: 0,day,month,year,cases,deaths,popData2018
count,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,6.900000e+02
mean,7785.666667,15.078261,2.486957,2019.991304,2221.565217,201.866667,9.653679e+07
std,4174.782873,8.616804,1.405144,0.092912,5717.666660,446.431768,1.049538e+08
min,1257.000000,1.000000,1.000000,2019.000000,0.000000,0.000000,1.142207e+07
25%,4200.250000,8.000000,1.000000,2020.000000,0.000000,0.000000,4.672375e+07
50%,8482.500000,15.000000,2.000000,2020.000000,3.000000,0.000000,6.346014e+07
75%,12040.750000,22.000000,3.000000,2020.000000,1870.000000,202.750000,6.698724e+07
max,12251.000000,31.000000,12.000000,2020.000000,37289.000000,4928.000000,3.271674e+08

In [ ]:
# Possible to get a specific column
data["deaths"].sum()

139288